@model IEnumerable<MarqMvc.Models.Cliente>

@{
    ViewData["Title"] = "ClienteListaView";
}

<h2>ClienteListaView</h2>

<p>
    <a asp-action="ClientePaginaAdicionar">Create New</a>
</p>
<center><p style="color:red">@TempData["Mensagem"]</p></center>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomeCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Agendamentos)
                </th>
                <th>
                    @Html.DisplayName("Ações")
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.NomeCliente, "ClientePaginaEditar", new { id = item.IdCliente })
            </td>
            <td>
                @if (item.Agendamentos != null)
                {
                <table class="table-mini">
                    <tbody>
                        @foreach (var itemAgendamento in item.Agendamentos)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => itemAgendamento.DiaDaSemana)
                            </td>
                            <td>
                                -
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => itemAgendamento.Hora)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "ClientePaginaEditar", new { id = item.IdCliente }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Pagamento", "PagamentoTelaAdicionar", "Pagamento", new { idCliente = item.IdCliente /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Excluir", "ClienteExcluir", new { id = item.IdCliente })
            </td>
</tr>
}
    </tbody>
</table>


